body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
p {
  color: black;
  margin-left: 10px;
}

h2 {
  color: black;
  margin-bottom: 0;
  margin-left: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 77, 75);
  height: 10vh;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
}

.s1 {
  background-color: rgb(249, 202, 34);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.s2 {
  background-color: rgb(240, 146, 43);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.s3 {
  background-color: rgb(105, 176, 76);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.ja {
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    background-color: rgb(255, 107, 129);
    justify-content: center;
  }
  .logo {
    font-size: 40px;
  }
  h2,
  p {
    color: white;
  }

  .s1 {
    background-color: rgb(254, 70, 87);
  }
  .s2 {
    background-color: rgb(83, 82, 236);
  }
  .s3 {
    background-color: rgb(55, 66, 249);
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .navbar {
    background-color: rgb(104, 109, 224);
  }
  .menu-icon {
    height: 20px;
    width: 20px;
    background-color: white;
    margin-right: 3vh;
  }
  h2,
  p {
    text-align: center;
    justify-content: center;
    color: white;
  }

  .s1 {
    background-color: rgb(126, 214, 223);
  }
  .s2 {
    background-color: rgb(224, 86, 253);
  }
  .s3 {
    background-color: rgb(48, 51, 106);
  }
}
