.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: white;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 500px;
}

a {
  text-decoration: none;
  color: blue;
  font-size: 18px;
}
