Body{
background-color: white;
}

Header{
  font-size: 40px;
}

a{
  font-size: 35px;
 color: rgb(0, 0, 0)
}


head {
  font-size: 50px;
  
}

p:first-of-type {
  font-size: 90px;

}

img{
height: 125px;
}

.top-right-img {
  position: absolute;
  top: 135px;
  right: 10px;
  width: 400px;     
  height: auto;
  
}

ul {
  list-style-type: none;
  margin:50px;
  padding: 5px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}