body {
  background-color: #6d712e;
}

Header{
  font-size: 40px;
}

a{
  font-size: 35px;
  text-decoration: none;
  color: blueviolet
}

head{
  font-size: 50px;
  
}

p:first-of-type{
  font-size: 35px;
}

img{
height: 150px;
}

ul {
    list-style-type: none;
    margin: 50px;
    padding: 5px;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
}
