Body{
background-color: green;
}

Header{
  font-size: 40px;
}

a{
  font-size: 35px;
 color: rgb(0, 0, 0)
}


head {
  font-size: 50px;
  
}

p:first-of-type {
  font-size: 115px;

}

img{
height: 125px;
}

.top-right-img {
  position: fixed;
  top: 135px;
  right: 10px;
  width: 287px;     
  height: auto;
  
}

ul {
  list-style-type: none;
  margin:50px;
  padding: 5px;
  background-color: #2a4827;
  display: flex;
  justify-content: space-evenly;
}
