body {
  background-color: #0F3F3A; /* deep base green */
  background-image: 
    linear-gradient(145deg, rgba(20, 60, 52, 0.9), rgba(10, 30, 25, 0.95));
  color: #E6F4ED; /* soft near-white text */
  font-family: "Inter", sans-serif;
}

* { margin: 0;
padding: 0;
box-sizing: border-box;
}


Header{
  font-size: 40px;
}

a{
  font-size: 35px;
 color: rgb(0, 0, 0)
}


head {
  font-size: 50px;
  
}

p:first-of-type {
  font-size: 90px;

}

img{
height: 125px;
}

.top-right-img {
  position: absolute;
  top: 135px;
  right: 10px;
  width: 680px;     
  height: 480px;
  
}

ul {
  list-style-type: none;
  margin:50px;
  padding: 5px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #dbff4a71;
}

#OIP.webp {
  display: flex;
  justify-content: right;
}